.videoDetail {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  padding: 1px;
}

.videoDetail:last-of-type {
  margin-right: 0px;
}

.videoDetail .thumb {
  width: 100%;
  position: relative;
}

.thumb img {
  width: 100%;
  height: auto;
}

.thumb div {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-weight: 300;
  font-size: 2.15625vw;
}

.thumb .fa-play {
  position: absolute;
  transform: scale(3);
  left: calc(50% - 6.3px);
  top: calc(50% - 8px);
  visibility: hidden;
  transition: all 200ms ease;
}

.thumb:hover .fa-play {
  visibility: visible;
  opacity: .7;
  cursor: pointer;
}

.thumb .fa-play:hover {
  opacity: 1;
  transform: scale(3.5);
  color: red;
}

.videoHeader {
  display: flex;
  justify-content: space-between;
  font-size: .9vw;
  font-weight: 700;
  margin: .45vw 0 0;
}

.videoBody {
  margin: .45vw 0 0;
  padding: 0;
  font-size: .916663vw;
}
