.accountMenu {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.accountMenu detail {
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
}

.accountMenu i {
  margin-left: 10px;
}

.accountDropdown {
  position: relative;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  margin-top: 16px;
  margin-left: -60px;
  width: calc(100% + 60px);
  font-size: 15px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902);
  border-top: 2px solid white;

  visibility: hidden;
  opacity: 0;
  transition: opacity 2200ms, visibility 200ms;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 250ms;
}

.accountMenu li {
  margin: 10px;
  color: white;
}

.accountMenu p {
  margin: 10px;
  font-weight: bold;
  color: white;
}
.accountMenu ul p {
  padding: 10px;
  margin: 0px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902)
}

.accountMenu ul i {
  margin-left: 77px;
}

.accountMenu li:hover {
  text-decoration: underline;
}

.accountMenu ul p:hover {
  text-decoration: underline;
}
