.browser {
  display: flex;
  flex-direction: column;
  position: relative;
}

.browse-splash {
  height: 762px;
  color: white;
  z-index: -100;
}
.splash-bg {
  width: 100%;
}

.browse-splash aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 26%;
  left: 4%;
  width: 37%;
}

.browse-splash aside text {
  width: 90%;
  font-weight: 400;
  line-height: 1.35;
  font-size: 1.4vw;
}

.splash-logo {
  width: 90%;
  margin-bottom: 1.2vw;
}

.browser main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 54px;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}
