.browser {
  display: flex;
  flex-direction: column;
  position: relative;
}

.browse-splash {
  color: white;
}
.splash-bg {
  position: absolute;
  width: 100%;
}

.browse-splash aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13%;
  left: 4%;
  width: 37%;
  z-index: 2;
}

.browse-splash aside text {
  width: 90%;
  font-weight: 400;
  line-height: 1.35;
  font-size: 1.4vw;
}

.browse-splash button {
  margin-top: 1.5vw;
  font-size: 1.1vw;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: .57em 1.35em;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  border: 1px solid rgba(255,255,255,.4);
}

.browse-splash button i {
  margin-right: .71em;
}

.splashPlay {
  margin-right: .75em;
  background-color: #e50914;
}

.splashPlay:hover{
  background-color: #ff0a16;
}

.splashList {
  background-color: rgba(0,0,0,.4);
}

.splashList:hover {
  background-color: rgba(51,51,51,.4);
}

.splash-logo {
  width: 90%;
  margin-bottom: 1.2vw;
}

.browser .genreSection {
  padding-top: 43%;
  margin: 0 auto;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  height: 78%;
  z-index: 1;
}
