.footer {
  background-color: #141414;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer main {
  max-width: 1000px;
  width: 90%;
  margin-top: 30px;
}

.footer .iconPanel {
  display: inline-block;
  border: 1px solid #999;
  margin-bottom: 15px;
  padding: .5em 0 .5em .5em;
}

.footer .iconPanel a {
  margin-right: .5em;
}

.footer aside {
  margin-bottom: 30px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer li {
  width: 25%;
  margin-bottom: 15px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 11px;
  margin-bottom: 15px;
}

.footerLanding {
  background-color: black;
  color: #999;
}

.footerLogin {
  background-color: #f3f3f3;
  color: #777;
}
