.genreBrowser {
  margin: 8px 0 0 60px;
}

.genreBrowser figure {
  display: flex;
}

.genreBrowser div {
  color: #e50914;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  width: 76px;
}

#deadspace {
  // when the dropdown is visible, the deadspace in the container to the right of the Browse text, should behave like
  // space outside of the genreBrowser and trigger the onMouseLeave event
  color: white;
  width: calc(100% - 76px);
  cursor: default;
}

.dropdown {
  background-color: rgba(0,0,0,.9);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902);
  border-top: 2px solid white;
  font-size: 15px;
  width: 8vw;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2200ms, visibility 200ms;
  position: relative;
}

.genreBrowser li {
  width: 100%;
  min-width: 137px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
}

.genreLink {
  color: white;
  text-decoration: none;
}

.genreLink:hover {
  text-decoration: underline;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 250ms;
}

.fa-caret-up {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 13px;
  margin-top: -13px;
}
