.myList {
  height: 100%;
}

.myList aside {
  padding: 1px;
}

.myList p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

.myList main {
  margin-left: 54px;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
}
