.myList {
  height: 100%;
}

.myList aside {
  padding: 1px;
}

.myList p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

.myList #mainRows {
  margin: 0 auto;
  width: 93%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myList .emptyList {
  color: #666;
  font-size: 18px;
  margin: 0px;
}
