.navBar {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  margin-top: 18px;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0) );
  margin-top: 0px;
  padding-top: 18px;
  height: 71px;
}

.navBar img {
  margin-left: 57px;
  cursor: pointer;
  width: 166px;
}

.fixed img {
  width: 118px;
}

.navBar button {
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border-radius: 2px;
  margin-right: 57px;
  width: 84px;
  height: 32px;
  border-radius: 2px;
}

.navBar button:hover {
  background-color: #f40612;
}
