.navBar {
  display: flex;
  position: absolute;
  z-index: 1000000;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  margin-top: 18px;
}

.absolute {
  position: absolute;
}

.logo {
  margin-left: 57px;
  cursor: pointer;
  width: 166px;
}

.absolute button {
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border-radius: 2px;
  margin-right: 57px;
  width: 84px;
  height: 32px;
  border-radius: 2px;
}

.absolute button:hover {
  background-color: #f40612;
}

.fixed {
  position: fixed;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0) );
  margin-top: 0px;
  padding-top: 18px;
  height: 53px;
  justify-content: space-between;
}

.fixed section {
  display: flex;
}

.fixed section div img {
  width: 118px;
  display: inline-block;
}

.fixedOpaque {
  background: rgba(0,0,0,.7);
}

.navBar aside {
  margin-right: 57px;
  display: flex;
}
