.player {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#videoPlayer {
  height: 100%;
}

.playerControls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.playerControls:hover .playBar {
  opacity: 1;
}

.playBar {

  // FOR TESTING
  opacity: 0;


  height: 30%;
  width: 80%;
  margin-top: 7%;
  border-radius: 15px;
  background-color: #252525;
  display: flex;
  box-shadow: 2px 2px 5px black;
  transition: all 200ms ease;
}

.playPause {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  position: relative;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
}

#videoPlay {
  color: white;
  transform: scale(2);
  transition: all 200ms ease;
  cursor: pointer;
}

#videoPause {
  color: white;
  transform: scale(2);
  transition: all 200ms ease;
  cursor: pointer;
}

#videoPlay:hover {
  transform: scale(2.3);
}

#videoPlay:hover {
  transform: scale(2.3);
}

.hidePlay {
  display: none !important;
}

#seeker {
  width: 70%;
  background: transparent;
  z-index: 100;
  padding: 0 2%;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
}

#seeker:focus {
  outline: none;
}

#seeker {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15%;
    background: #CB0000;
    border: none;
    box-shadow: 2px 2px 5px black;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vmax;
    width: 2vmax;
    border-radius: 50%;
    background: #CB0000;
    box-shadow: 1px 2px 5px black;
    margin-top: -1.2%;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

.fullScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  position: relative;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
}

#videoScreen {
  color: white;
  transform: scale(2);
  transition: all 200ms ease;
  cursor: pointer;
}

#videoScreen:hover {
  transform: scale(2.3);
}
