html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  list-style: none;
}

body {
  width: 100%;
  background: black;
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

button:hover {
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

.sessionForm {
  min-height: 90vh;
  background-color: black;
}

.browser {
  min-height: 90vh;
  background-color: #141414;
}

.genre {
  min-height: 90vh;
  background-color: #141414;
}

.searchPage {
  min-height: 90vh;
  background-color: #141414;
}

.myList {
  min-height: 90vh;
  background-color: #141414;
}
