.searchPage {
  height: 100%;
}

.searchPage aside {
  padding: 1px;
}

.searchPage p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

.searchPage #searchRows {
  margin: 0 auto;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
}
