.seriesViewer {
  padding: 1px;
  width: 100vw;
  background-color: black;
  height: 31vw;
  display: flex;
  justify-content: space-between;
}

.seriesViewer summary {
  width: 30%;
  margin: 20px 0 0 53px;
}

.seriesViewer section {
  display: flex;
  font-size: 1.1vw;
  font-weight: 700;
  color: #666;
}

.seriesViewer aside {
  margin-right: .5em;
}

.viewTitle {
  color: white;
  font-size: 2.4vw;
  font-weight: 700;
  margin: 0 0 .2em 0;
}

.seriesViewer main {
  margin: .6em 0 0 0;
  font-size: 1.125vw;
  color: #999;
}

.viewerBg {
  position: relative;
  height: 100%;
}

.viewerBg img {
  height: 100%;
  z-index: -1;
}

.viewerBgFade {
  display: block;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0) );
  width: 100%;
  height: 100%;
}
