.seriesViewer {
  padding: 1px;
  width: 100vw;
  background-color: black;
  height: 31vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.viewTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 53px;
  color: white;
  font-size: 2.4vw;
  font-weight: 700;
}

.viewerFooter  {
  position: absolute;
  bottom: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.viewerNav {
  display: flex;
}

.viewerNav div {
  color: white;
  font-weight: 700;
  font-size: 1vw;
  padding-bottom: 8px;
  margin: 0 1.5em;
  opacity: .7;
  cursor: pointer;
  box-sizing: border-box;
}

.viewerNav div:hover {
  opacity: 1;
}

.viewerNav .selectedBtn {
  border-bottom: 5px solid red;
  opacity: 1;
}

.episodes {
  // display: none;
}

.viewerBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: .4;
}

.viewerClose {
  color: white;
  transform: scale(4);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 4%;
  cursor: pointer;
  z-index: 1;
}

.overviewTab {
  z-index: 1;
  color: white;
  font-size: 40px;
}
