.seriesRow {
  display:block;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: transform 500ms ease;
  margin-bottom: 4%;
  min-width: 1500px;
}

.seriesRow:hover {
  transform: translate3d(-50px, 0, 0);
}

.seriesRow:hover .series {
  opacity: 0.3;

  &:hover {
    transform: scale(1.85);
    opacity: 1;
    z-index: 1;
  }
}

// Hovering over the right side of a row with only 1 thing in it will still
// trigger the hover effects.
