.seriesRow {
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
  position: relative;
}

.seriesRow .seriesStrip:hover {
  transform: translate3d(-50px, 0, 0);
}

.seriesStrip {
  z-index: 50;
  width: 100%;
  display: flex;
  transition: transform 500ms ease;
  flex: 1;
}

.serieWrapper:hover ~ .serieWrapper {
  transform: translate3d(100px, 0, 0);
}

.seriesStrip:hover .series {
  opacity: 0.3;

  &:hover {
    transform: scale(1.85);
    opacity: 1;
    z-index:51;
  }
}


.seriesStrip:hover #noHover {
  transform: translate3d(50px, 0, 0);
}

.seriesRow .seriesStrip #noHover:hover {
  transform: scale(.52);
  transform: translate3d(25px, 0, 0);
  z-index: 500
}

.seriesRow .seriesStrip #noHover:hover .series {
  transform: translate3d(25px, 0, 0);
}

#noHover .fa-angle-down {
  display: none;
}

#noHover .seriesInfo {
  display: none;
}

#noHover .seriesBgFade {
  display: none;
}

.serieWrapper {
  transition: transform 500ms ease;
}

.seriesRow li:last-of-type .series {
  transform-origin: center;
}

.seriesRow li:first-of-type .series {
  transform-origin: center left;
}


.seriesRow li {
  width: 16.66%;
  margin-right: .2vw;
}

.seriesRow li:last-of-type {
  margin-right: 0;
}

.viewer {
  position: absolute;
  bottom: 0;
  flex: 0;
  width: 100vw;
  margin: 0 auto;
  opacity: 0;
  transition: all 0ms ease;
  z-index: -100;
}

.viewerShow {
  opacity: 1;
  top: 0;
  margin-top: 10.5%;
  z-index: 200;
  transition: all 500ms ease-out;
}

#clearFlex {
  flex-grow: 1;
}

#noHover2:hover {
  transform: translate3d(0, 0, 0);
}

#noHover2:hover .series {
  opacity: 1;
}

#noHover2:hover #noHover {
  transform: translate3d(0, 0, 0);
}
