.seriesRow {
  margin: 125px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
    white-space: nowrap;
}

.series {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transform-origin: center left;
}

.seriesImg {
  width: 250px;
  height: 140px;
  object-fit: cover;
}

.seriesRow:hover {
  transform: translate3d(-62.5px, 0, 0);
}

.seriesRow:hover .series {
  opacity: 0.3;

  &:hover {
    transform: scale(1.5);
    opacity: 1;
    z-index: 10;
  }
}

.series:hover ~ .series  {
  transform: translate3d(125px, 0, 0);
}
