// ADDED WEIRD CLEARFLEX THING TO FILL DEADSPACE,
// ONE DAY FIGURE OUT HOW TO USE FOR A MOUSEOVER/MOUSELEAVE TO FIX TRIGGERING

.series {
  width: 16.66%;
  cursor: pointer;
  transform-origin: center left;
  transition: transform 500ms ease;
  position: relative;
  float: left;
}

.seriesMedia {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imageScaler {
  margin-bottom: 167px;
}

.seriesImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.series:hover ~ .series  {
  transform: translate3d(100px, 0, 0);
}

.series:last-of-type:hover {
  transform-origin: center;
}

.seriesInfo {
  position: absolute;
  top: 0;
  margin-top: 28%;
  margin-left: 5%;
  white-space: nowrap;
  max-width: 80%;
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: 1;
  color: white;
  text-shadow: 0px 1px black;

}

.seriesInfo p {
  margin: 0 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4vmin;
  font-weight: bold;
  user-select: none;
  padding: 1px;
}

.seriesInfo text {
  display: block;
  height: 4vmin;
  overflow: hidden;
  font-size: 1vmin;
  user-select: none;
  white-space: normal;
  padding: 1px;
}

.series:hover .seriesInfo {
  opacity: 1;
}

.fa-angle-down {
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: calc(50% - 5px);
  margin-bottom: 8px;
  transform: scale(4, 2);
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: 1;
}

.fa-angle-down:hover {
  color: #e50914;
}

.series:hover .fa-angle-down {
  opacity: 1;
}

.seriesBgFade {
  position:absolute;
  background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0) );
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.series:hover .seriesBgFade {
  opacity: 1;
}

.clearFlex{
  // border: 1px solid red;
  flex-grow: 1;
  height: 100%;
  z-index: 100;
}
