.seriesViewer {
  padding: 1px;
  width: 100%;
  background-color: black;
  height: 31vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.viewerFooter  {
  position: absolute;
  bottom: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  width: 100%;
}

.viewerNav {
  display: flex;
  justify-content: center;
}

.viewerNav div {
  color: white;
  font-weight: 700;
  font-size: 1vw;
  padding-bottom: 8px;
  margin: 0 1.5em;
  opacity: .7;
  cursor: pointer;
  box-sizing: border-box;
}

.viewerNav div:hover {
  opacity: 1;
}

.viewerNav .selectedBtn {
  border-bottom: 5px solid red;
  opacity: 1;
}

.viewerBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: .4;
}

.viewerClose {
  color: white;
  height: 32px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 4%;
  cursor: pointer;
  z-index: 10;
}

.viewerContent {
  margin: 20px auto 0 auto;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 93%;
}

.viewTitle {
  width: 100%;
  height: 10%;
  font-size: 2.4vw;
  font-weight: 700;
}

.overviewTab {
  width: 30%;
  height: 90%;
  font-size: 1.125vw;
  color: #999;
  position: relative;
}

.episodesTab {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.episodeCarousel {
  width: 100%;
}

.rowWrapper {
  width: 100%;
}

// NOTE: if you move hideTab up or down above
// these other selectors, it breaks the viewerOverview
.hideTab {
  display: none;
}
