.overviewDetails {
  width: 100%;
  display: flex;
  color: #666;
  font-weight: 700;
  font-size: 1.1vw;
  margin: 5% 0;
}

.overviewDetails li {
  margin: 0 .5em 0 0px;
  width: auto;
}

.overviewTab #overviewPlay {
  position: absolute;
  top: 0;
  margin-top: 37%;
  margin-left: 233%;
  left: 0;
  color: white;
  cursor: pointer;
  transform: scale(9);
  z-index: 51;
  opacity: .7;
  transition: all 200ms ease;
}

#overviewPlay:hover {
  transform: scale(10);
  color: red;
  opacity: 1;
}

.overviewMyList {
  display: flex;
  margin-top: 1.5vw;
  align-items: center;
}

.overviewPlus {
  transform: scale(2);
  margin: 0 .6vw 0 .3vw;
  cursor: pointer;
  transition: all 200ms ease;
}

.overviewPlus:hover {
  color: white;
}

.overviewCheck {
  transform: scale(2);
  margin: 0 .6vw 0 .3vw;
  cursor: pointer;
  transition: all 200ms ease;
}

.overviewCheck:hover {
  color: white;
}

.hideMyList {
  display: none !important;
}


.overviewListText {
  color: white;
  font-size: 1.1vw;
  margin-left: .6vw;
}
