.overviewDetails {
  width: 100%;
  display: flex;
  color: #666;
  font-weight: 700;
  font-size: 1.1vw;
  margin: 5% 0;
}

.overviewDetails li {
  margin: 0 .5em 0 0px;
  width: auto;
}

.overviewBody {
  margin: 200;
  padding: 0;
}
